@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.create_work input{
    width: 380px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    margin: 20px 0;
    font-family: "LXGW WenKai TC", cursive;
}
.create_work textarea{
    width: 360px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    margin: 20px 0;
    font-family: "LXGW WenKai TC", cursive;
}
.create_work{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create_work button{
    font-family: "LXGW WenKai TC", cursive;
    margin: 15px 12px;
    background-color: rgb(203, 180, 224);
    border-radius: 10px;
    padding: 5px;
    width: 130px;
    height: 35px;
    border: none;
}